*{
    margin: 0;
    padding: 0;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
    margin-bottom: 25px;
}


body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    background-image: url("https://images.pexels.com/photos/2790396/pexels-photo-2790396.jpeg?cs=srgb&dl=pexels-mark-pl%C3%B6tz-2790396.jpg&fm=jpg");
    
    
    height: 100%; 
    

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .class1 {
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
  }

  
  